body {
  background-color: #FFF;
  margin: 40px;
  font-family: Lucida Grande, Verdana, Sans-serif;
  font-size: 100%;
  color: #000;
}

#container {
  font-size: 75%;
}

header {
  margin: 0 0 1em;
}

h1, h2 {
  font-weight: normal;
  font-size: 1.5em;
  color: #020;
  margin: 0 0 8px 0;
}
h2 {
  font-size: 1.25em;
  color: #040;
}

section {
  border: 1px solid #999;
  background-color: #fff;
  padding: 20px 20px 12px 20px;
  margin: 0 0 1em;
  overflow:hidden;
}

a {
  color: #060;
}

a:hover {
  color: #900;
}

code {
  font-family: Consolas,
              "Andale Mono WT",
              "Andale Mono",
              "Lucida Console",
              "Lucida Sans Typewriter",
              "DejaVu Sans Mono",
              "Bitstream Vera Sans Mono",
              "Liberation Mono",
              "Nimbus Mono L",
               Monaco,
              "Courier New",
               Courier,
               monospace;
  font-size: 100%;
}

footer p {
  margin: 0;
  padding: 0;
}

